--extra-index-url https://pytorch.org
torch==2.2.0+cpu
torchvision==0.17.0+cpu
streamlit
python-dotenv
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
